<section>
  <h1>Contact</h1>
  <div>
    <div>
      <h3>Personal details</h3>
      <p><strong>Name</strong>: Gil</p>
      <p><strong>Family name</strong>: Sala Bordallo</p>
      <p><strong>Location</strong>: Vienna</p>
    </div>
    <div>
      <h3>Connect with me professionally</h3>
      <div class="d-flex flex-column">
        <a href="https://www.linkedin.com" target="_blank">Linkedin</a>
        <a href="https://www.github.com" target="_blank">Github</a>
        <a
          href="https://fusion.upleveled.io/gil-sala-bordallo.com"
          target="_blank"
          >Portfolio</a
        >
      </div>
    </div>
  </div>
</section>
