<form (ngSubmit)="onSubmit()">
  <div class="mt-3 mb-3 d-flex flex-column">
    <label class="mr-3 mb-3" for="title">Product</label>
    <input
      type="text"
      name="title"
      [(ngModel)]="text"
      id="title"
      placeholder="Introduce the product"
    />
  </div>

  <div class="d-flex flex-column">
    <label class="mb-3" for="content">Rating</label>

    <textarea
      type="text"
      name="content"
      [(ngModel)]="content"
      id="content"
      placeholder="Write valoration"
    ></textarea>
  </div>
  <button type="submit" v class="btn btn-sm btn-success mt-3">add blog</button>
</form>
<hr />
